  @font-face {
    src: url(../fonts/Violence-Raw.ttf);
    font-family: vio;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #282828;
  text-align: center;
  margin: 0;
  font-size: 18px;
}


/* NAVIGATION */

#nav {
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  position: sticky;
  z-index: 1;
}

#nav a {
  color: #fff;
  text-decoration: none;
  padding: 16px 16px;
  font-size: 20px;
  display: inline-block;
}

#nav a:hover {
  color: #e00b03fd;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  font-family: vio;
  color: #c90700fd;
  font-size: 4em;
  position: absolute;
  clear: both;
  text-align: left;
  text-shadow: 2px 2px #000;
  z-index: 1;
  margin-left: 8%;
  margin-top: 3.5%;
  overflow: visible;
  letter-spacing: 8px;
}



/*   -  PAGES  -   */

#page1, #page2, #page3, #page4, #page5 {
  height: auto;
}


/* PAGE 1 */

#page1 {
  top: 0;
  width: 100%;
}

.name {
  font-size: 7vw;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  color: white;
  text-shadow: 2px 2px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

/* PAGE 2 */

.container {
  margin: 25px;
  border: 1px solid #000;
  margin: 50px auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.preamble td {
  width: 50%;
}


.about-img {
  max-height: 100%;
  max-width: 70%;
  
  float: right;
  margin-right: auto 10px;
  border: 1px solid #000;
  object-fit: contain;
}



/* PAGE 3 - gallery */

.galimg {
  width: 45%;
  height: auto;
  padding: 0 1px 23px 0;
}


/* PAGE 4 - SERVICES */

.row {
  font-size: 18px;
  margin-bottom: 35px;
  letter-spacing: 2px;
}

.pricing p {
  font-size: 1em;
  padding: 10px;
}

/* PAGE 5 */

/* CONTACT FORM */

form {
  width: 60%;
  margin-top: 20px;
  padding-left: 10px;
  float: left;
}


.form-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  color: #000;
  margin-bottom: 16px;
  border-radius: 0;
  box-shadow: none;
}

input {
  height: 45px;
}

form .submit {
  width: 20%;
  border: none;
}

form .submit:hover {
  background-color: #e00b03fd;
  cursor: pointer;
}


/* DETAILS */
.rad-details {
  float: right;
  width: 50%;
  
}

iframe {
  border: 1px solid #b4b4b4;
  float: left;
  height: 350px;
  width: 35%;
  margin-right: 10px;
}


/* FOOTER */

#footer {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  color: #9e9e9e;
  font-size: 12px;
  text-align: left;
  padding: 30px 0 10px 10px;

}

#footer a {
float: right;
margin-right: 10px;

}

.social-icon   {
  width: 25px;
  display: relative;
}